// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

p,
ul,
li,
a,
h1,
h2,
h3,
h4,
::before,
::after {
    font-family: $font-text;
    text-decoration: none;
}

body {
    color: $dark-font;
}

/** location **/

.location__container {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: 500;
    color: $dark-font;
    background-color: rgba($color: #eeeeee, $alpha: 1.0);

    p {
        margin-left: 20px;
        line-height: 50px;
    }
    i{
        align-self: center;
        
        
    }
}

/** Explore our restaurant **/

.top__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .top__container__presentation {
        background-color: $bg-section;
        padding: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 350px;
        justify-content: space-around;

        h2 {
            font-size: 1.3em;
            font-weight: 900;

        }

        p {
            font-size: 0.9em;
            font-weight: 300;

        }
    }

    /** How it work **/

    .top__container__rules {
        padding: 40px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            font-size: 1.2em;
            font-weight: 800;
            margin-bottom: 20px;
        }

        .rules__links {
            background-color: $bg-section;
            display: flex;
            align-items: center;
            padding-left: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 25px;
            border-radius: 20px;
            -webkit-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.4);
            position: relative;

            a {
                font-size: 0.8em;
                font-weight: 600;
            }

            i {
                margin-right: 20px;
                color: rgb(141, 141, 141);
                font-size: 0.8em;
            }

            &:nth-child(2)::before {
                content: "1";
                background-color: $purple;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                border-radius: 999px;
                color: white;
                font-size: 0.6em;
                position: absolute;
                left: 0;
                transform: translateX(-50%);
            }

            &:nth-child(3)::before {
                @extend .rules__links:nth-child(2)::before;
                content: "2";
            }

            &:nth-child(4)::before {
                @extend .rules__links:nth-child(2)::before;
                content: "3";
            }
        }
    }
}

/** Restaurants **/

.restaurant__container {
    padding: 40px 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: $bg-section;

    h2 {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.2em;
        font-weight: 800;
    }

    .cards__container {
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width:100%;
        -webkit-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.4);
        img {
            object-fit: cover;
            width: 100%;
            height: 170px;
            border-radius: 15px 15px 0 0;
            display: block;
        }

        .text__container {
            padding:15px 10px;
            display: flex;
            flex-wrap: wrap;
            width:100%;
            h3 {
                font-size: 0.9em;
                font-weight: 800;
                width: 100%;
            }
            p{
                font-size: 0.7em;
                width:100%;
            }
        }
    }
    .cards__container--new{
        position:relative;
        &::before{
            content: "Nouveau";
            position: absolute;
            background-color: $green;
            font-size: 0.6em;
            padding:5px 10px;
            font-weight: 600;
            color:rgb(46, 145, 113);
            top:15px;
            right:15px;
            border-radius: 2px;
        }
    }
}