// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

p,
ul,
li,
a,
h1,
h2,
h3,
h4 {
    font-family: $font-text;
    text-decoration: none;
}

body {
    color: $dark-font;
    animation: oflow ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   position: relative;

    @keyframes oflow{
        0%{
            overflow: hidden;
        }
        70%{
            overflow: hidden;
        }
        100%{
            overflow: auto;
        }
    }
        
}
.home__container{
    display:flex;
    flex-direction: column;
    align-items: center;
}



/** location **/

.location__container {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: 500;
    color: $dark-font;
    background-color: rgba($color: #eeeeee, $alpha: 1.0);
    width:100%;

    p {
        margin-left: 20px;
        line-height: 50px;
    }

    i {
        align-self: center;


    }
}

/** Explore our restaurants **/

.top__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .top__container__presentation {
        background-color: $bg-section;
        padding: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 350px;
        justify-content: space-around;
        width: 100%;

        h2 {
            font-size: 1.3em;
            font-weight: 900;

        }

        p {
            font-size: 0.9em;
            font-weight: 300;

        }

        @media (min-width: 768px) {
            width: 50%;
            background-color: white;
        }
    }

    /** How it work **/

    .top__container__rules {
        padding: 40px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;

        .h2__main {
            font-size: 1.2em;
            font-weight: 800;
            margin-bottom: 20px;
        }

        .rules__links {
            background-color: $bg-section;
            display: flex;
            align-items: center;
            padding-left: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 25px;
            border-radius: 20px;
            -webkit-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.4);
            position: relative;

            a {
                font-size: 0.8em;
                font-weight: 600;
            }

            i {
                margin-right: 20px;
                color: rgb(141, 141, 141);
                font-size: 0.8em;
            }

            &:nth-child(2)::before {
                content: "1";
                background-color: $purple;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                border-radius: 999px;
                color: white;
                font-size: 0.6em;
                position: absolute;
                left: 0;
                transform: translateX(-50%);
            }

            &:nth-child(3)::before {
                @extend .rules__links:nth-child(2)::before;
                content: "2";
            }

            &:nth-child(4)::before {
                @extend .rules__links:nth-child(2)::before;
                content: "3";
            }
        }

        @media (min-width: 768px) {
            width: 50%;
        }
    }

}

/** Restaurants **/

.restaurants__container {
    padding: 40px 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: $bg-section;

    @media (min-width: 768px) {
        justify-content: space-between;
    }
    @media (min-width: 1024px) {
       justify-content: space-around;
    }

    h2 {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.2em;
        font-weight: 800;
    }

    .cards__container {
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 100%;
        -webkit-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.4);
        text-decoration: none;
        position:relative;
        a{
            width:100%;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 170px;
            border-radius: 15px 15px 0 0;
            display: block;
        }
        i {
            font-size: 25px;
            position: absolute;
            right: 20px;
            top: 85%;
            transform: translateY(-50%);
            transition: transform .2s;
            cursor: pointer;
            &:hover + .fa-solid{
                display:block;
                transform: translateY(-50%) scale(1);
            }
            &:hover + .fa-regular{
                color: transparent;
                transition: none;
                display: none;
                color:white
            }
           
        }
        .fa-regular:hover{
            display:none;
           }

        .fa-solid {
            background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: translateY(-50%) scale(0);
           
            
        }  
        .text__container {
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            width:auto;
            text-decoration: none;

            h3 {
                font-size: 0.9em;
                font-weight: 800;
                width: 150px;
                
            }

            p {
                font-size: 0.7em;
                width: 150px;
                
            }

            

        }

        @media (min-width: 768px) {
            width: 48%;
        }
        @media (min-width: 1024px) {
            max-width: 22%;
            img{
                min-height: 400px;
            }
            i{
                bottom:150px;
                transform: translateY(20px);
            }
        }
    }


    .cards__container--new {

        &::before {

            content: "Nouveau";
            position: absolute;
            background-color: $green;
            font-size: 0.6em;
            padding: 5px 10px;
            font-weight: 600;
            color: rgb(46, 145, 113);
            top: 15px;
            right: 15px;
            border-radius: 2px;
        }
    }
   
}
.loader{
    background-color: $green;
    position: absolute;
    top:0;
  left:0;
  width:100%;
  height:100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    padding-top: 50vh;
    animation: fade ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    @keyframes fade{
        0%{
            opacity:1;
        }
        70%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            z-index: 0;
        }
        
    }
    .circle{
        
        width:50px;
        height:50px;
        z-index: 40;
        border-radius: 100%;
        border:10px solid transparent;
        border-top-color:$purple;
        border-left-color:$purple;
        border-bottom-color:$purple;
        animation: spin 1s linear infinite;
        
        @keyframes spin{
            0%{
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
            }
          
            100%{
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
    }
}

