.txt__effect__container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 70px;
    justify-content: space-between;
    padding-left: 10px;
    position: relative;
    -webkit-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 16px -7px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;

    &:hover {
        .effect__container {
            transform: translateX(0);
            i{
                transform: rotate(360deg);
                transition: transform .4s;
                
            }
        }

        .details__container {
            width: calc(100% - 60px);

            .details__container--p {
                width: 70%;
            }
        }
        .txt__container{
            h4{
                width:70%;
            }
        }
    }
}

.txt__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:7px 0 ;
    flex-grow: 1;
    @media (max-width: 365px) {
        

    }

    h4 {
        font-family: $font-text;
        font-size: 0.8em;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .4s;
        @media (max-width: 365px) {
            max-width:70%;

        }
    }

    .details__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transition: .4s;
        @media (max-width: 365px) {
           

        }
        p {
            font-family: $font-text;
            font-size: 0.7em;
            @media (max-width: 365px) {
                max-width:150px;

            }
        }

        .details__container--p {
            font-weight: 300;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .details__container--price {
            font-weight: 800;
            margin-right: 15px;
            @media (max-width: 365px) {
                

            }
        }
    }

}

.effect__container {
    background-color: $green;
    line-height: 70px;
    width: 60px;
    text-align: center;
    color: white;
    position: absolute;
    right: 0;
    transform: translateX(80px);
    transition: transform .4s;
    &:hover{
        color:white;
    }
}